@model PracticaMigracion.Models.Equipos

@{
    ViewData["Title"] = "AgregarEquipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Agregar Nuevo Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Practica" asp-action="AgregarEquipos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                @Html.DropDownListFor(model => model.Pais, (IEnumerable<SelectListItem>)ViewData["Paises"],
               "--Paises--", new { @class = "form-control" })
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group form-check pl-0">
                <label class="form-check-label pl-0">
                    <input type="radio" value="true" asp-for="Estado" /> Activo
                    <input type="radio" value="false" asp-for="Estado" /> Inactivo
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Fecha de creación
                </label>
                <input asp-for="FechaDeCreacion" class="form-control" />
                <span asp-validation-for="FechaDeCreacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-2">
                <input type="submit" value="Agregar Equipo" class="btn btn-success rounded-pill p-2  text-decoration-none" />

                <a asp-action="ListadoEquipos" class="btn btn-secondary rounded-pill shadow-sm p-2  text-decoration-none">
                    Volver a la lista
                </a>
            </div>
        </form>
    </div>
</div>


